body {
	background-color: rgba(255, 240, 240, 0.9);
	color: #150D15;
	width: 100vw;
	max-width: 1366px;
	margin: auto;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}